<app-header (toggleMenuEvent)="toggleMenu()"></app-header>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav"
                 mode="side"
                 [opened]="openedMenu"
                 fixedInViewport="true"
                 [attr.role]="isHandset ? 'dialog' : 'navigation'"
                 [mode]="isHandset ? 'over' : 'side'"
                 [opened]="!isHandset"
                 fixedTopGap="56">
        <mat-nav-list class="nav-list">
            <a mat-list-item
               routerLink="/home"
               [routerLinkActive]="['is-active']">
                <mat-icon>home</mat-icon>
                Início
            </a>
            <a mat-list-item
               routerLink="/cliente"
               [routerLinkActive]="['is-active']">
                <mat-icon>people_alt</mat-icon>
                Clientes
            </a>

            <a mat-list-item
               routerLink="/orcamento"
               [routerLinkActive]="['is-active']">
                <mat-icon>request_quote</mat-icon>
                Orçamentos
            </a>
            <a mat-list-item
               routerLink="/agendamento"
               [routerLinkActive]="['is-active']">
                <mat-icon>event_note</mat-icon>
                Agendamentos
            </a>
            <mat-expansion-panel class="expansion-panel">
                <mat-expansion-panel-header>
                    <mat-icon>source</mat-icon>Cadastros
                </mat-expansion-panel-header>
                <a mat-list-item
                   routerLink="/estoque"
                   [routerLinkActive]="['is-active']">
                    <mat-icon>store</mat-icon>
                    Estoque
                </a>
                <a mat-list-item
                   routerLink="/fornecedor"
                   [routerLinkActive]="['is-active']">
                    <mat-icon>groups</mat-icon>
                    Fornecedores
                </a>
                <a mat-list-item
                   routerLink="/servico"
                   [routerLinkActive]="['is-active']">
                    <mat-icon>home_repair_service</mat-icon>
                    Serviços
                </a>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>