<div class="container text-center">

    <app-page-header title="Fornecedores"
                     [showSaveButton]="this.formArray.enabled"
                     [showEditButton]="this.formArray.disabled"
                     [showUndoButton]="this.formArray.enabled"
                     (saveEvent)="beforeSave()"
                     (editEvent)="edit()"
                     (undoEvent)="beforeUndo()"
                     [showDialogCloseButton]="!!dialogRef"
                     (dialogCloseEvent)="dialogRef.close()"></app-page-header>

    <app-table-toolbar [isFormDisabled]="this.formArray.disabled"
                       (addRow)="addRow()"
                       (deleteSelectedRows)="deleteSelectedRows()"></app-table-toolbar>

    <div class="table-container"
         [class.mat-elevation-z4]="true">

        <mat-table [dataSource]="dataSource">

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                     [class.invalid-table-row]="row.invalid">
            </mat-row>

            <ng-container matColumnDef="select">
                <mat-header-cell fxFlex="50px"
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell fxFlex="50px"
                          fxLayoutAlign="center center"
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-checkbox formControlName="select">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
                <mat-header-cell fxFlex="20"
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell fxFlex="20"
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-form-field fxLayout="column">
                        <input matInput
                               formControlName="nome" />
                        <mat-error>{{getErrorMessage(element.get('nome'))}}</mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefone">
                <mat-header-cell fxFlex="12"
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef> Telefone </mat-header-cell>
                <mat-cell fxFlex="12"
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-form-field fxLayout="column">
                        <input matInput
                               formControlName="telefone"
                               [textMask]="formHelper.getTextMask('telefone', element.get('telefone')?.value)" />
                        <mat-error>{{getErrorMessage(element.get('telefone'))}} </mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell fxFlex="15"
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef> E-mail </mat-header-cell>
                <mat-cell fxFlex="15"
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-form-field fxLayout="column">
                        <input matInput
                               formControlName="email" />
                        <mat-error>{{getErrorMessage(element.get('email'))}}</mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cnpj">
                <mat-header-cell fxFlex="15"
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef> CNPJ </mat-header-cell>
                <mat-cell fxFlex="15"
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-form-field fxLayout="column">
                        <input matInput
                               formControlName="cnpj"
                               [textMask]="formHelper.getTextMask('cnpj')" />
                        <mat-error>{{getErrorMessage(element.get('cnpj'))}}</mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endereco">
                <mat-header-cell fxFlex
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef> Endereço </mat-header-cell>
                <mat-cell fxFlex
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-form-field fxLayout="column">
                        <input matInput
                               formControlName="endereco">
                        <mat-error>{{getErrorMessage(element.get('endereco'))}}</mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <mat-header-cell fxFlex="10"
                                 fxLayoutAlign="center center"
                                 *matHeaderCellDef> Tipo </mat-header-cell>
                <mat-cell fxFlex="10"
                          *matCellDef="let element"
                          [formGroup]="element">
                    <mat-form-field fxLayout="column">
                        <input matInput
                               formControlName="tipo">
                        <mat-error>{{getErrorMessage(element.get('tipo'))}}</mat-error>
                    </mat-form-field>
                </mat-cell>
            </ng-container>

        </mat-table>
    </div>
    <div [class.mat-elevation-z2]="true">
        <mat-paginator [pageSize]="10"
                       [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>

</div>